@import "tailwindcss";
:root {
  --font-body: 'DM Sans', sans-serif;
  --font-heading: 'Playfair Display', serif;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}